{% extends "base.html" %} {% block title %} Progress Page {% endblock %}
{% block content %}
<div class="mt-4 flex flex-col items-center text-[#333333]">
  <!-- section title -->
  <h2 class="text-center flex flex-col items-center gap-2 font-semibold text-[#1E3A8A] text-3xl md:text-4xl">
    Progress

    <div class="w-1/2 h-[1px] bg-[#1E3A8A]"></div>
  </h2>


  <section id="progress" class="flex justify-center mt-8 w-full">
    <div class="w-full max-w-3xl flex md:flex-row flex-col gap-8 px-2">

      <div class="flex-1">
        <div class="w-full py-2 font-semibold text-2xl bg-[#60A5FA] px-4 text-white">
          <h4>Being prepared</h4>
        </div>

        <!-- list of order no's -->
        <div class="mt-4 flex flex-col gap-2 px-4" id='in_progress'>
        </div>
      </div>

      <div class="flex-1">
        <div class="w-full py-2 font-semibold text-2xl bg-[#1E3A8A] px-4 text-white">
          <h4>Please collect</h4>
        </div>

        <!-- list of order no's -->
        <div class="mt-4 flex flex-col gap-2 px-4" id='completed'>
        </div>
      </div>


    </div>
  </section>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function createOrderNumber(wrapper, id, type) {
      const p = document.createElement('p')
      p.className = type === 'in_progress' ? 'text-4xl font-semibold' : 'text-4xl font-semibold text-[#1E3A8A]'
      zeroFilled = ('000' + id).substr(-3)
      p.innerText = zeroFilled

      wrapper.appendChild(p)
    }

    function getData(type) {

      fetch(`/get-orders?type=${type}`, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCookie('csrftoken') // Django CSRF token
        }
      })
        .then(response => response.json())
        .then(data => {
          orders = data.orders

          wrapper = document.getElementById(type)
          wrapper.innerHTML = ''

          orders.forEach((value) => { createOrderNumber(wrapper, value.id, type) })
        })
        .catch(error => {
          console.error('Error:', error);
        });


    }

    // get token
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    function fetchOrders() {
      getData('in_progress')
      getData('completed')
    }

    fetchOrders();

    setInterval(fetchOrders, 5000);
  })
</script>
{% endblock %}